.bg-primary {
  background-color: black;

  th {
    color: #fff;
    height: 50px;
    vertical-align: inherit;
    font-weight: 400;
  }
}
.table>tbody {
    background-image: linear-gradient(to right bottom, white, #555)
}
.table>tbody>tr>td {
  border-top: 1px solid transparent;
  font-weight: 500;
  color: black;
}

.dp {
  border-radius: 100px;
}

.table>tbody>tr:hover {
  background-color: white;
}

.btn-user{
    background-color: white;
    border: 1px solid black;
}

.btn-delete{
    background-color: black;
    border: 1px solid black;
    span{
        color:white;
    }
}

.btn-edit{
    background-color: white;
    border: 1px solid #555;
    span{
        color:#555;
    }
}

.table{
    box-shadow: 0 2px 10px rgba(0,0,0,0.5)
}