.modal-header{
    background-color: black;
    color: white;
}
.btn-black{
    background-color: black;
    color:white;
}
.btn-white{
    background-color: white;
    color:black;
    border:1px solid black
}
.btn{
    width:100px;
    border-radius: 0px;
}